@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/pt-sans-regular.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 400;
  src: url("../fonts/pt-sans-italic.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "PT Sans";
  font-style: italic;
  font-weight: 700;
  src: url("../fonts/pt-sans-bold-italic.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "PT Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  background-color: #FFFFFF;
}

/* Pages */

.main-header {
  color: #000000;
  background-color: #FFFFFF;
}

.navigation-list-item-link {
  font-family: "PT Sans", sans-serif;
  line-height: 24px;
  font-weight: 700;
  text-align: center;
  color: #000000;
  background-color: #FFFFFF;
  text-decoration: none;
}

.main-index {
  color: #333333;
  background-color: #FFFFFF;
  background-image: url("../images/index-background.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}


/* Начало секции Преимущества */
.advantages-list {
  text-align: center;
}

.advantages-list-item {
  list-style-type: none;
}

.advantages-title {
  font-family: "PT Sans", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: uppercase;
  color: #000000;
}

.advantages-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;
}

.advantages-dark-blue {
  background: #82B3D3;
  color: #FFFFFF;
}

/* Конец секции Преимущества */

/* Index columns
  .index-columns {
  color: #242424;
  background-color: #fbf7f4;
  background-image: url("../images/bg-noisy.png");
 */

.hotels-search {
  color: #333333;
  background-color: #FFFFFF;
}

.hotels-search-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

.hotels-search-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #333333;
}

.button-search {
  font-family: inherit;
  font-size: 20px;
  line-height: 36px;
  font-weight: 700;
  text-align: center;
  color: #FFFFFF;
  width: 376px;
  height: 52px;
  background: #756157;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  padding: 8px 50px;
  gap: 10px;
}

.subscribe {
  /* color: #333333; */
  /* background-color: #FFFFFF; */
  background-image: url("../images/subscription.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
}

.subscribe-title {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.subscribe-description {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 26px;
  text-align: center;
  color: #FFFFFF;
}

/* Стилизация футера */
.page-footer {
  font-size: 40px;
  font-weight: 400;
  color: #242424;
  background-color: #FFFFFF;
}
